h1{
    color: rgb(255, 94, 0);
    text-align: center;
}

button{
    color: #000000;
    background-color: #23bd1d;
    text-align: center;
    height: 10%;
    width: 40px;
}
body{
    text-align: center;

}
div{
    border-left-color: blue;
    height: 100%;
}
input{
    width: 100px;
    padding: 5px;
}
