h1{
    color: rgb(171, 241, 78);
    text-align: center;
    background-color: cadetblue;
}

button{
    color: red;
    text-align: center;
    height: auto;
    width: auto;
}
body{
    text-align: center;

}
div{
    border-left-color: blue;
    height: 100%;
}